# Used in the recipe datagen providers to override the provider name
public-f net.minecraft.data.recipes.RecipeProvider getName()Ljava/lang/String;

# Used in MicrochipScreen to render items on the cursor differently
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen renderFloatingItem(Lnet/minecraft/client/gui/GuiGraphics;Lnet/minecraft/world/item/ItemStack;IILjava/lang/String;)V

# Used in MicrochipBlock to prevent it from sending redstone through it
public net.minecraft.world.level.block.Blocks never(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;)Z

# Used in AutoFillEditBox
protected net.minecraft.client.gui.components.EditBox onValueChange(Ljava/lang/String;)V
protected net.minecraft.client.gui.components.EditBox textColor
protected net.minecraft.client.gui.components.EditBox textColorUneditable