# Used in the recipe datagen providers to override the provider name
public-f net.minecraft.data.recipes.RecipeProvider getName()Ljava/lang/String;

# Used in MicrochipScreen to render items on the cursor differently
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen renderFloatingItem(Lnet/minecraft/client/gui/GuiGraphics;Lnet/minecraft/world/item/ItemStack;IILjava/lang/String;)V

# Used in MicrochipBlock to prevent it from sending redstone through it
public net.minecraft.world.level.block.Blocks never(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;)Z

# Used in TextBoxConfigButton
protected net.minecraft.client.gui.components.EditBox cursorPos
protected net.minecraft.client.gui.components.EditBox displayPos
protected net.minecraft.client.gui.components.EditBox highlightPos
protected net.minecraft.client.gui.components.EditBox value
protected net.minecraft.client.gui.components.EditBox font
protected net.minecraft.client.gui.components.EditBox bordered
protected net.minecraft.client.gui.components.EditBox formatter
protected net.minecraft.client.gui.components.EditBox maxLength
protected net.minecraft.client.gui.components.EditBox focusedTime
protected net.minecraft.client.gui.components.EditBox isEditable